<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743343930585-3m8kqb65i20136iknv09cddm821l9vej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743343930585-3m8kqb65i20136iknv09cddm821l9vej</string>
	<key>API_KEY</key>
	<string>AIzaSyBQjIzq7y9ruBB0zZdjTeuXc4TckNZTyh4</string>
	<key>GCM_SENDER_ID</key>
	<string>743343930585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wolfcodea.com.dictionary</string>
	<key>PROJECT_ID</key>
	<string>dictionary-4f91f</string>
	<key>STORAGE_BUCKET</key>
	<string>dictionary-4f91f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743343930585:ios:38ccb2b664a043021752c8</string>
</dict>
</plist>